.Header {
  display:block;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center; /*horizontal center*/

}

.NavBar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background:transparent;
  display: flex;
  justify-content: space-between;  /* logo left, button right */
  align-items: center;
  padding: 15px 15px;
}

.Logo{
  width:120px;
  height:auto;
}


.container { /*container for section*/
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SignupButton{
  display:flex;
  font-weight:bold;
  font-size: 18px;
  background-color: var(--midgreen);
  padding: 15px 50px;  /* makes it grow naturally */
  border-radius: 60px;
  border: 2px solid var(--buttonborder);
  cursor:pointer;
}

.SignupButton:hover{
  background-color: var(--lightergreen);
  transition: background-color 0.2s ease;
  transform: translateY(-3px);        /* moves up 3px */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}


